import view
import model


def just_answer(system):
    if "z" in system:
        try:
            return view.calcul(model.answer_kramer(system),model.matrix_method(model.matrix_3(system)))
        except:
            return "ERROR"
    else:
        return model.answer_kramer(system)[-5],model.answer_kramer(system)[-4]


def kramer(system):
    try:
        return model.answer_kramer(system)
    except:
        return "ERROR"


def matrix(system):
    try:
        return model.matrix_method(model.matrix_3(system.split()))
    except:
        return "ERROR"

def funk(system):
    try:
        return view.funk(model.answer_kramer(system)[-1],model.answer_kramer(system)[-2],model.answer_kramer(system)[-4], model.answer_kramer(system)[-3])
    except:
        return "ERROR"
